<%= form_tag(app_prefix("fill_request"), method: 'post', :id => 'request_form') do %>
  <%= render partial: 'shared/request_hiddens' %>
  <div  id="request">
    <h3><strong>Privacy Statement</strong> </h3>
<p><strong>Information about you: how we use it and with whom we share it</strong> 
</p>
 <p>
The information you provide in this form will be used only for purposes of your enquiry. We will not share your personal information with any third party or use it for any other purpose. 
We are using information about you because it is necessary to contact you regarding your enquiry. By providing your personal data when submitting an enquiry to us, consent for your personal data to be used in this way is implied. 
 </p>
 <p>
We will hold the personal data you provided us for 6 years. We do not use profiling or automated decision-making processes.   
</p>
 <p>
If you have any questions, please contact: CRC Services Manager at <a href="mailto:is-crc@ed.ac.uk">is-crc@ed.ac.uk</a>
</p>
<p><a href="https://www.ed.ac.uk/records-management/notice" target="_blank">Continued privacy statement</a></p>

    <div class="form-group required ">
      <%= label_tag(:user_name, "#{t('request.user_name')} #{t('request.required')}" ,  :class => 'sr-only') %>
      <div class="input-group">
        <%= text_field_tag :user_name, nil, :placeholder => t('request.user_name'), :class => "form-control"%>
        <div class="input-group-addon">
          <span class="required aria-hidden"><%= t('request.required') %></span>
        </div>
      </div>
    </div>
    <div class="form-group required ">
      <%= label_tag(:user_email, "#{t('request.user_email')} #{t('request.required')}",  :class => 'sr-only') %>
      <div class="input-group">
        <%= text_field_tag :user_email, nil, :type => 'email', :placeholder => t('request.user_email'), :class => 'form-control' %>
        <div class="input-group-addon">
          <span class="required aria-hidden"><%= t('request.required') %></span>
        </div>
      </div>
    </div>
    <div class="form-group ">
      <%= label_tag(:date, t('request.date'),  :class => 'sr-only') %>
      <%= text_field_tag :date, nil, :placeholder => t('request.date'), :class => 'form-control' %>
    </div>
    <div class="form-group ">
      <%= label_tag(:note, t('request.note'),  :class => 'sr-only') %>
      <%= text_area_tag :note, nil, :rows=> "3", :cols => "25", :placeholder => t('request.note'), :class => 'form-control' %>
    </div>
    <button type="submit" class="btn btn-primary action-btn noscript"><%= t('request.submit') %></button>
  </div>
<% end %>
